<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ACST.AWS.TextractViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <!--<connectionStrings configSource="ConnectionStringsVM.xml"/> -->
    <!--<connectionStrings configSource="ConnectionStringsDEV.xml"/>-->
    <!--<connectionStrings configSource="ConnectionStringsProd.xml"/>-->
  <connectionStrings>
    <add name="EdiContext" connectionString="Data Source=ACST-DEV2\SQL2008;Initial Catalog=ACST_EDI;Integrated Security=True;Pooling=False" />
    <add name="CamsContext" connectionString="Data Source=ACST-DEV2\SQL2008;Initial Catalog=ACST_CAMS;Integrated Security=True;Pooling=False" />
  </connectionStrings>
<appSettings>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="AWS_S3_BucketName" value="bem.open.bucket"/>
    <add key="AWS_S3_BucketRegionName" value="USEast1"/>
    <add key="AWS_FlowDefinitionARN" value="arn:aws:sagemaker:us-east-1:450590327631:flow-definition/testocrreview1"/>

    <add key="ADAForm_Header_LineIndex" value="0"/>
    <!--Zero-based-->
    <add key="ADAForm_Header_CommonSearchTerm" value="Dental Claim Form"/>
    <add key="ADANamedCoordinates_FileName" value=".\NamedCoordinatesData\ADANamedCoordinates_ADA2012.xml"/>
    <add key="CMSNamedCoordinates_FileName" value=".\NamedCoordinatesData\CMSNamedCoordinates.xml"/>
    <add key="FuzzyMatch_MinimumScore" value="90"/>
    <add key="NamedCoordinates_FileName_Template" value=".\NamedCoordinatesData\NamedCoordinates_{FormType}.xml"/>

    <add key="Textract_ResultHTMLTransform" value=".\ConfigurationBuilder\KeyValue_HTMLFormat.xslt"/>
    <add key="Textract_TempFolder" value="C:\Users\mooreb\Documents\BTS Folders\Dental\Output\Temp\"/>
    <add key="Textract_ResultsFolderTemplate" value="C:\Users\mooreb\Documents\BTS Folders\Dental\Output\Temp\dental_{yyyyMMdd_HHmmssffff}\"/>
    <!--<add key="Textract_ResultsFileTemplate" value="c:\temp\dental\{KeyName}_{yyyyMMdd_HHmmssffff}.zip\" />-->
    <add key="Textract_ResultsFileTemplate" value="C:\Users\mooreb\Documents\BTS Folders\Dental\Output\Archive\{KeyName}.zip"/>
    <add key="Textract_ClaimExport_FileTemplate" value="C:\Users\mooreb\Documents\BTS Folders\Dental\Intake\ada_Claim_Intake\{KeyName}"/>

    <!--FileSystemWatcher configuration -->
    <add key="Watch_Folder" value="C:\Users\mooreb\Documents\BTS Folders\Dental\Intake\jpg_Image_Intake\"/>
    <add key="Watch_FileFilter" value="*.jpg"/>
    <add key="Watch_ProcessedFolder" value="C:\Users\mooreb\Documents\BTS Folders\Dental\Output\jpg Processed files\"/>
    <add key="Watch_ProcessedErrorFolder" value="C:\Users\mooreb\Documents\BTS Folders\Dental\Output\jpg Processed files\Errors\"/>

    <!--Debug Only: Match_Strategy: 0-None, 1-Header Fuzzy Text, 2-Header Exact Text, 4-Key Ideal Center, 8-Value Ideal Center, 16-Field Ideal Center-->
    <add key="NamedCoordinates_ClaimMatch_Strategy" value="5"/>

  </appSettings>
  <system.diagnostics>
    <switches>
      <!--  0-off, 1-error, 2-warn, 3-info, 4-verbose -->
      <add name="AppTraceLevel" value="4"/>
      <add name="RollbackAllTransactions" value="false"/>
      <!-- True: Suppress email for debug purposes. False: Deliver all generated emails, this is the default production behavior.-->
      <add name="SuppressEmail" value="true"/>
      <!-- True: Output Linq query expansion to Verbose Trace.  False: Suppress Linq query output, this is default.-->
      <add name="TraceLinq" value="false"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--TextWriterTraceListener named EdiAutomationTextListener will replace {} values with formatted execution datetime.-->
        <!--{s} Sortable date/time pattern-->
        <!--{yyyyMMdd} Sortable date pattern-->
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="ACST HIPAA Integration"/>-->
        <add name="ocrTextListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Users\mooreb\Documents\BTS Folders\Dental\TextractViewer.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <ACST.AWS.TextractViewer.Properties.Settings>
      <setting name="ZoomInitialValue" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="SaveSettingsOnExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartPosition" serializeAs="String">
        <value>CenterParent</value>
      </setting>
      <setting name="WindowsState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WindowsLocation" serializeAs="String">
        <value>0, 37</value>
      </setting>
      <setting name="MinimumSize" serializeAs="String">
        <value>2000, 1400</value>
      </setting>
      <setting name="ConfirmationSaveChoice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfirmationSaveAndExport" serializeAs="String">
        <value>False</value>
      </setting>
    </ACST.AWS.TextractViewer.Properties.Settings>
  </userSettings>
</configuration>
